@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-urbanist: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-urbanist-semibold {
  font-family: var(--font-urbanist);
  font-weight: 600;
}

.smooth-transition {
  transition: 1s ease-in-out;
}

.borderbg {
  border-color: #262626;
}

.hoverbtn {
  border-color: #262626;
  background-color: #141414;
  padding: 10px 10px;
  border-radius: 8px;
}

#nprogress .bar {
  background: #703BF7 !important;
  height: 3px; 
}

#nprogress .bar {
  box-shadow: 0 0 10px #703BF7, 0 0 5px #703BF7;
}

#nprogress .peg {
  box-shadow: 0 0 10px #703BF7, 0 0 5px #703BF7;
}

